---
import { Image } from "astro:assets"

const { 
    img="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp", 
    title, 
    description, 
    btn_title,
    url="#"
} = Astro.props
---

<div class="card bg-white text-black w-96 shadow-xl">
    <figure class="pt-5">
        <Image
        src={img}
        alt={title} 
        />
    </figure>
    <div class="card-body">
        <h2 class="card-title">{title}</h2>
        <p>{description}</p>
        <div class="card-actions justify-end">
            <a class="btn w-full mt-5 font-bold text-lg" href={url}>{btn_title}</a>
        </div>
    </div>
</div>